.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  /* background-color: #fff; */
  background-color: #232323;
  padding-left: 20px;

  /* Toggle Sidebar Button */
  /* Search Bar */
}

@media (min-width: 1200px) {

  #main,
  #footer {
    /* margin-left: 150px;
    margin-right: 150px; */
  }
}

.main-body {
  padding-bottom: 24px;
  padding-top: 24px;
}

.feeds {
  background-color: #fff;
}

.site-width {
  margin: 0 auto;
  max-width: 1024px;
  width: 80vw
}

.site-header-width {
  margin: 0 auto;
  margin-left: 0px;
  max-width: 1024px;
  width: 80vw
}

.header-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}


#banner {
  padding-top: 24px;
  margin-top: 72px;
  box-shadow: 0 3px 6px #bdbdbd;
}

#banner h2,#banner h3 {
  font-weight: 300
}

#banner #logo {
  height: 125px;
  max-width: 100%;
  width: auto
}

#banner .banner-title {
  margin-bottom: 8px
}

#banner .banner-description .banner-meta {
  padding: 0 32px
}

#banner .banner-description .banner-meta h3 {
  margin-bottom: 8px
}

@media (max-width: 767px) {
  #banner {
      line-height:16px;
      padding: 16px 0
  }

  .banner-info {
      -ms-flex-item-align: start;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      line-height: 24px;
      width: 100%
  }

  .banner-description {
      -ms-flex-align: center;
      -ms-flex-direction: column;
      -webkit-align-items: center;
      -webkit-flex-direction: column;
      align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column
  }

  .banner-title {
      font-size: 7vw
  }

  .banner-meta {
      display: none
  }

}

@media (min-width: 768px) {
  #banner .banner-title,#banner paper-button {
      margin-bottom:16px
  }

  .banner-info {
      line-height: 32px;
      margin-right: 32px
  }

  .banner-info a {
      text-decoration: underline
  }

  .banner-description {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
  }

  .banner-description .banner-info {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1
  }
}

/*
Tiles - Event Feeds 
*/

.my-shuffle-container {
  position: relative;
  overflow: hidden;
}

.my-sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.filter-label {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
  color: #95a5a6;
}

.filters-group {
  padding: 0;
  margin: 0 0 4px;
  border: 0;
}

@media screen and (min-width: 768px) {
  .filters-group-wrap {
    display: flex;
    justify-content: space-between;
  }
}
.btn-group:after,.btn-group:before {
  content: " ";
  display: table
}

.btn-group:after {
  clear: both
}

.btn-group .btn {
  float: left;
  border-radius: 0
}

.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px
}

.btn-group .btn:not(:first-child) {
  margin-left: -1px
}

.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0
}

.btn-group label.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none
}

.btn.btn-feed {
  display: inline-block;
  padding: .75em .8em;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  font-size: 1rem;
  background-color: rgba(52,73,94,0);
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-appearance: none
}

@media (-moz-touch-enabled:0),(pointer: fine) {
  .btn.btn-feed:hover {
    color:#fff;
    text-decoration: none;
    background-color: #232323
  }
}

.btn.btn-feed:focus {
  outline-width: 0;
  box-shadow: 0 0 0 2px rgba(52,73,94,.4)
}

.btn.btn-feed.active,.btn.btn-feed:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  color: #fff;
  background-color: #232323
}

.btn.btn-feed:focus.active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 0 2px rgba(52,73,94,.4)
}

.btn.btn-feed:disabled {
  cursor: not-allowed;
  opacity: .7;
  color: #232323;
  background-color: rgba(52,73,94,0)
}

.btn.btn-feed.btn-primary {
  color: #3498db;
  border-color: #3498db;
  background-color: rgba(52,152,219,0)
}

@media screen and (max-width: 767px) {
  .btn {
    font-size:.875rem
  }
}

.textfield {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #95a5a6;
  border-radius: 4px;
  padding: .5em;
  font-size: 1rem;
  color: #232323;
  transition: .15s
}

.textfield::-webkit-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:hover {
  outline-width: 0;
  color: #5d6d77;
  border-color: #5d6d77
}

.textfield:hover::-webkit-input-placeholder {
  color: #5d6d77
}

.textfield:hover:-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::placeholder {
  color: #5d6d77
}

.textfield:focus {
  outline-width: 0;
  border-color: #232323
}

.textfield:focus::-webkit-input-placeholder {
  color: #232323
}

.textfield:focus:-ms-input-placeholder {
  color: #232323
}

.textfield:focus::-ms-input-placeholder {
  color: #232323
}

.textfield:focus::placeholder {
  color: #232323
}

.container {
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 1em;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-right {
  display: flex;
  align-items: right;
}

.solly-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solly-icon {
  width: 192px;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.feed-title {
  margin-right: 20px;
}

.nav-link-button {
  cursor: pointer;
}

.text-color-white {
  color: #fff !important;
}

.text-description {
  height: 120px;
  max-height: 120px;
  overflow: scroll;
}

.info-card .feed-tile {
  font-size: 20px !important;
}
.cart-tile {
  height: 320px !important;
}

.wrap-text {
  word-break: break-all;
}

.runner-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 10px;
  position: relative;
}

.runner-nav {
  justify-content: center;
}

.selection-border {
  border-color: #012970; 
}

#info-icon {
  font-size: 2rem;
}

#event-icon {
  font-size: 2rem;
}

#broker-icon {
  font-size: 2rem;
}

#action-icon {
  font-size: 2rem;
}

.item-text {
  font-size: 1.2rem;
}

.color-green {
  color: green;
}

.connect-btn-group {
  height: fit-content;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}
#connecton-load-label {
  display: inline-block;
  padding: .75em .8em;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  font-size: 1rem;
  background-color: rgba(52,73,94,0);
  transition: .2s ease-out;
  cursor: pointer;
	display: block;
	margin: 0 auto;
}

#connecton-load-label:hover {
  color: white;
  background-color: #232323;
}


#connecton-load {
	display: none;
}

#connect-broker {
  padding: 0.25em;
}

.connected-icon-holder {
  float: right;
}

#connected-icon {
  font-size: 2rem;
  color: red;
  padding-right: 20px;
}

.feed-event-item {
  padding: 20px;
  background-color: #f6f9ff;
}

.feed-event-item:hover {
  background-color: #f6f9ff;
}

#feed-settings-div {
  transition: all 0.3s; /* Smooth transition for expanding and collapsing */
  /* padding: 10px; */
}
#feed-logs-div {
  /* min-height: calc(100vh - 465px); */
  transition: all 0.3s; /* Smooth transition for expanding and collapsing */
  flex-grow: 1;
  padding-left: 3.5%;
  padding-right: 3.5%;
  /* background-color: white; */
  box-sizing: border-box;
}

div.scroll {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin:10px;
  padding:4px;
  /* border: 1px solid #232323; */
  color: #232323;
  background-color: rgba(52,73,94,0);
  /* width: 500px; */
  /* height: 400px; */
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align:justify; */
}

.feed-panel {
  display: flex; 
  flex-direction: column; 
  /* height: 100vh; */
  min-height: calc(100vh - 465px);;
}

.settings-fab-container {
  position:fixed;
  top:90px;
  right:50px;
  float: right;
  cursor:pointer;
}

.log-fab-container{
  position:fixed;
  right:50px;
  float: right;
  cursor:pointer;
}

.iconbutton{
  width:50px;
  height:50px;
  border-radius: 100%;
  background: green; /* #FF4F79; */
  box-shadow: 5px 5px 3px #aaaaaa;
}
.iconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}

#empty-log-content {
  display: none;
}

.smalliconbutton{
  width:25px;
  height:25px;
  border-radius: 100%;
  background: darkgray; /* #FF4F79; */
  box-shadow: 5px 5px 3px lightgray;
}
.smalliconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}

.smalliconbutton{
  width:50px;
  height:50px;
  border-radius: 100%;
  background: darkgray; /* #FF4F79; */
  box-shadow: 5px 5px 3px #aaaaaa;
}
.smalliconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}


#feed-status-log {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-error {
  color: red;
}

.feed-status {
  color: green;
}

.color-red {
  color: red;
}

.color-gray {
  color: darkgray;
}

.trans--grow{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 100vw;
}

.trans--fit{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
}

.hr1{
  margin-left:0;
}

.scroll-to-top {
  background-color: green;
}

#show-hide-settings {
  position: fixed;
  right: 15px;
  top: 75px;
  z-index: 99999;
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

#show-hide-settings i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

#empty-log-content {
  position: fixed;
  right: 15px;
  z-index: 99999;
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

#empty-log-content i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.show-advanced-settings {
  color: darkgray;
}

.sort-selected {
  background-color: #0d6efd;
  color: white;
}